.App {
  display: flex;
  flex-direction: column;
  padding: 100px 140px;
  font: 15px/1.51 system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.heading {
  font-size: calc(10px + 2vmin);
  color: black;
}

.section {
  display: flex;
  flex-direction: column;
}

.subheading {
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 24px;
  color: black;
}
